@font-face {
    font-family: Pilcrow marca;
    src: url(PilcrowRounded-Bold.otf);
}
@font-face {
    font-family: GeneralSans titulo;
    src: url(GeneralSans-Semibold.otf);
}
@font-face {
    font-family: GeneralSans cuerpo;
    src: url(GeneralSans-Medium.otf);
}

@font-face {
    font-family: GeneralSans peque;
    src: url(GeneralSans-Light.otf);
}

a {
    font-family: Pilcrow marca;
    font-size-adjust: 0.7;
}

h1 {
    font-family: GeneralSans titulo;
    text-align-last: center;
}

h3 {
    font-family: GeneralSans cuerpo;
    text-align-last: center;
}

h5 {
font-family: GeneralSans cuerpo;
}

p {
    font-family: GeneralSans peque;
}

body {
    background-color: gainsboro;
}

/* Ensayo carrito */
.carrito-compras{
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    top: 55px;
    padding: 15px;
    border: solid 1px #696969;
    background: #e5e5e5;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(0);
}

.carrito-compras-titulo{
    border-bottom: 1px solid #696969;
    text-align: center;
}

.imagen-producto{
    size-adjust: 100px;
    align-items: center;
}

.list-group-item{
    background-color: transparent;
}


